body {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 14pt;
    width: 70%;
}

.directions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.north > input, .south > input, .east > input, .west > input {
    width: 100px;
}

.north {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
}

.south {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 3;
}

.east {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 2;
}

.west {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
}

.lanes {
    display: flex;
}

.lanes > * {
    margin-right: 50px;
}

#noutlanes {
    display: flex;
    flex-direction: row-reverse; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#noutlanes {
    width: 100%;
    border-collapse: collapse;
}

#noutlanes tbody {
    width: 100%;
}

#noutlanes tr {
    width: 100%;
}

#noutlanes th, #noutlanes td {
    width: 20%;
    border: 1px solid black;
    padding: 8px;
    font-size: 11pt;
    text-align: center;
}